{% extends "base.html" %}
{% load static %}
{% block title %}
Post {% if object %}Edit{% else %}Create{% endif %}
{% endblock %}
{% block content %}
<div>
  <div>
    <div>
      <h1>
        {% if object %}Edit{% else %}Create{% endif %} Post
      </h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <button type="submit">Save</button>
          {% if object %}
            <a href="{% url 'posts:post_delete' object.pk %}">
              Delete
            </a>
          {% endif %}
          <a href="{% url 'posts:post_list' %}">
            Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
