{% extends "base.html" %}
{% load static %}

{% block title %}
{% if object %}Edit{% else %}Create{% endif %} Post
{% endblock %}

{% block content %}
<h2>{% if object %}Edit{% else %}Create{% endif %} Post</h2>
<form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    {{ form.title.label_tag }}<br>
    {{ form.title }}<br><br>

    {{ form.description.label_tag }}<br>
    {{ form.description }}<br><br>

    <label>Attach images:</label><br>
    <input type="file" name="images" multiple><br><br>

    <button type="submit">{% if object %}Save{% else %}Create Post{% endif %}</button>
    {% if object %}
        <a href="{% url 'posts:post_delete' object.pk %}">Delete</a>
    {% endif %}
    <a href="{% url 'posts:post_list' %}">Cancel</a>
</form>

{% if object %}
<hr>
<form method="post" enctype="multipart/form-data" action="{% url 'posts:post_image_upload' object.pk %}">
    {% csrf_token %}
    <label>Add more images:</label><br>
    <input type="file" name="images" multiple><br><br>
    <button type="submit">Add images</button>
</form>
{% endif %}
{% endblock %}
